
.resultsArea {
    display: flex;
    flex-direction: column;
}

.no-results {
    margin: auto;
}

.programListing {
    all: unset;
    background: var(--other-bg);
    border: var(--text-h) solid 1px;
    border-radius: 20px;
    width: 100%;
    
    box-sizing: border-box;
    padding: 24px;
      
}

.feesAndTagsArea {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.tagGreen {
    background-color: var(--accent-bg);
    padding: 0px 10px;
    border-radius: 24px;
    border: var(--accent-border) solid 1px;
}

.tagGray {
    background-color: var(--social-bg);
    padding: 0px 10px;
    border-radius: 24px;
    border: var(--text) solid 1px;
}
.tagOrange {
    background-color: var(--orange);
    padding: 0px 10px;
    border-radius: 24px;
    border: var(--text) solid 1px;
}

.city {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--text-h);
}

.language {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--text-h);
}

.cityAndOthersRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 16px 0px;
}

.organization {
    gap: 0;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.showMoreButton {
    all: unset;
    cursor: pointer;
    text-decoration: underline;

    transition: color 0.3s ease;
}

.showMoreButton:hover{
    color: var(--text-h);
}